#backButton{
  float: left;
}
#forwardButton{
  float: right;
}
.toolbar-title{
  white-space: unset;
}

.slide-zoom {
  height: 100%;
}
ion-slide{
  overflow-y: auto;
}
.item-md {
  padding-left: 0 !important;
}

.date-height {
  height: 68px;
}
.radio-bol-bbl {
  margin-top: 10px;
}
.btn-remove-border div.item-inner {
  border: none !important;
  margin-right: -8px;
  padding: 0 !important;
}
.btn-gesprek {
  padding: 24px !important;
  width: 99%;
}

