.date-height {
  height: 67px;
}
.radio-bol-bbl {
  margin-top: 10px;
}
.slide-zoom {
  height: 100%;
}
.btn-edit-send {
  padding: 24px !important;
  border: none !important;
}
.item-md {
  padding-left: 0 !important;
}
.remove-border div.item-inner {
  border: none !important;
}