.checkbox-wrapper {
  float: right;
}
.checkbox-bol {
  float: right;
  width: 50%;
}
.checkbox-bol div.item-inner {
  border: none !important;
}
.checkbox-bbl {
  float: right;
  width: 50%;
}
.checkbox-bbl div.item-inner {
  border: none !important;
}
.checkbox-accept div.item-inner {
  border: none !important;
}


#exportButton{
  float: right;
}
